<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Transsys model discrimination</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css" />
</head>
<body>
    <table>
    <h1>Model discrimination</h1>
    {% if errorList %}
        <ul>
            {% for error in errorList %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="djangotest.cgi" method="post">
        <tr><td><h3><p>Candidate 1: </p></h3></tr></td>
        <tr><td><p><textarea name="candidate1" rows="10" cols="50">{{ candidate1 }}</textarea></p></tr></td>
        <tr><td><h3><p>Candidate 2: </p></h3></tr></td>
        <tr><td><p><textarea name="candidate2" rows="10" cols="50">{{ candidate2 }}</textarea></p></tr></td>
        <tr><td><h3><p>Target data: </tp></h3>
        <tr><td><textarea name="targetdata" rows="10" cols="50">{{ targetdata }}</textarea></p></tr></td>
        <tr><td><h3><p>SimGenex specification: </tp></h3>
        <tr><td><textarea name="simgenexspec" rows="10" cols="50">{{ simgenexspec }}</textarea></p></tr></td>
	<tr><td><p>Please allow three newlines after after the last line of your simgenexspec</p></tr></td>
        <tr><td><h3><p>Random restarts: </p></h3>
        <tr><td><p><input type=text name="restarts" rows="1" cols="3">{{ restarts }}</input></p></tr></td>
        <p>
        <tr><td><input type="submit" value="Submit"></tr></td>
        </p>
    </form>
    </table>
</body>
</html>
